# This is an example bot.conf file. You _must_ have one for your Choob instance or it won't run.

# Name of your bot
botName=SomeChoob

# Username for the MySQL database running on localhost named Choob
dbUser=choob

# Password for the MySQL database.. yada yada.
dbPass=choob

# Server for the MySQL database.. yada yada.
dbServer=localhost

# Trigger that commands should be prefixed with.
botTrigger=:

# IRC Server to connect to. Even if you aren't planning on using Choob on irc.uwcs.co.uk, we'd love it if you'd come say hello anyway.
server=irc.uwcs.co.uk

# Space or comma seperated list of #channels to join on connecting.
channels=#bots #choob

# List of ||| seperated raw-commands to send on connection.
connectstring=PRIVMSG NickServ :identify password