<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{dd-HH:mm:ss.SSS} [%thread] %-5level %logger{45} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.mchange.v2.c3p0.C3P0Registry" level="WARN"/>
	<logger name="com.mchange.v2.c3p0.impl.AbstractPoolBackedDataSource" level="WARN"/>
	<!-- this logs any instantiated SQLException at INFO.
	  There's a chain of hacks, via. DriverManager.setLogWriter, to get this to us. -->
	<logger name="java.sql.DriverManager" level="WARN"/>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
