# This is an example bot.conf file. You _must_ have one for your Choob instance or it won't run.

# Name of your bot
botName=SomeChoob

# Ident for the bot, Choob by default
botIdent=Choob

# Username for the MySQL database running on localhost named Choob
dbUser=choob

# Password for the MySQL database.. yada yada.
dbPass=choob

# Server for the MySQL database.. yada yada.
dbServer=localhost

# Trigger that commands should be prefixed with.
botTrigger=:

# Encoding the bot should utilise
botEncoding=UTF-8

# Limit time between messages
messageLimit = 0

# IRC Server to connect to. Even if you aren't planning on using Choob on irc.uwcs.co.uk, we'd love it if you'd come say hello anyway.
server=irc.uwcs.co.uk

# List of ||| seperated raw-commands to send on connection.
connectstring=PRIVMSG NickServ :identify password
